In [1]:
import pandas as pd 
import numpy as np
#sample dataframe with missing values
data = {
    'Name' : ['Alice','Bob','Charlie','David','Edward'],
    'Age' : [25,np.nan,35,45,np.nan],
    'salary': [50000,60000,np.nan,80000,120000],
    'Gender':['Female','Male',np.nan,'Male','Female']
}
df = pd.DataFrame(data)
print(df)

      Name   Age    salary  Gender
0    Alice  25.0   50000.0  Female
1      Bob   NaN   60000.0    Male
2  Charlie  35.0       NaN     NaN
3    David  45.0   80000.0    Male
4   Edward   NaN  120000.0  Female

In [2]:
#Identifying Missing Values
print("\nChecking for missing values:")
print(df.isnull().sum())

Checking for missing values:
Name      0
Age       2
salary    1
Gender    1
dtype: int64

In [3]:
#Handling Missing Values 
#2.1 Dropping rows with missing values
df_dropna = df.dropna()
print("\nDataFrame after dropping rows with missing values:")
print(df_dropna)

DataFrame after dropping rows with missing values:
    Name   Age   salary  Gender
0  Alice  25.0  50000.0  Female
3  David  45.0  80000.0    Male

In [4]:
#2.2 Filling Missing values with a specific value( ex: 0)
df_fill_0 =df.fillna(0)
print("\nDataFrameafter filling missing values with 0:")
print(df_fill_0)

DataFrameafter filling missing values with 0:
      Name   Age    salary  Gender
0    Alice  25.0   50000.0  Female
1      Bob   0.0   60000.0    Male
2  Charlie  35.0       0.0       0
3    David  45.0   80000.0    Male
4   Edward   0.0  120000.0  Female

In [5]:
#2.3 Filling missing values with the mean of the column
df['Age'] = df['Age'].fillna(df['Age']).mean()
df['salary']=df['salary'].fillna(df['salary']).mean()
print("\nDataFrame after filling the values with mean:")
print(df)

DataFrame after filling the values with mean:
      Name   Age   salary  Gender
0    Alice  35.0  77500.0  Female
1      Bob  35.0  77500.0    Male
2  Charlie  35.0  77500.0     NaN
3    David  35.0  77500.0    Male
4   Edward  35.0  77500.0  Female

In [6]:
#2.4 Filling missing values with mode(for categorical data)
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
print("\nDataFrame after filling missing values with mode for categories :")
print(df)

DataFrame after filling missing values with mode for categories :
      Name   Age   salary  Gender
0    Alice  35.0  77500.0  Female
1      Bob  35.0  77500.0    Male
2  Charlie  35.0  77500.0  Female
3    David  35.0  77500.0    Male
4   Edward  35.0  77500.0  Female